.title {
    color:orangered;
    text-align: center;

}

.image {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
}

.link {
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.background {
    background-color: lightgray;
}